* {
    margin: 0px;/*tirar margem*/
    padding: 0px;/*tirar espaçamento*/
    transition: all 1s;/*todos os meus componentes terão transição*/
    font-family: 'Roboto', sans-serif; /*mudar fonte*/
    box-sizing: border-box;
}

:root {
    --cor-topo: #98C1A8;

}

header .Dicas {
    background-color: var(--cor-topo);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}


main.dicas{
    margin: 20px;
   
}

main .imagem-dicas{
    text-align: end;
}
